
@use '../colors';

.header {
  text-align: center;
  color: var(--primary);
  background-color: var(--background-header);
  border-bottom: 2px solid var(--selected);

  &-input {
    padding: 20px;
    margin: 0 auto;
  }
}

